<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.reserve">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.UserCenter.ModifyCurstomActivity"></activity>
        <activity android:name=".activity.UserCenter.PeopleAddActivity" />
        <activity android:name=".activity.UserCenter.CurstomListActivity" />
        <activity android:name=".activity.UserCenter.OrderManageActivity" />
        <activity android:name=".activity.reserve.RoomDetialActivity" />
        <activity android:name=".activity.usermanger.RegistActivity" />
        <activity android:name=".activity.reserve.FinalPayActivity" />
        <activity android:name=".activity.PositionActivity" />
        <activity android:name=".activity.reserve.ReserveActivity" />
        <activity android:name=".activity.UserCenter.VipActivity" />
        <activity android:name=".activity.FacekeyActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
    </application>

</manifest>